
body 
div
{

    background-color: red;
    color: whitesmoke;
    height: 100px;
    padding-left: 500px;
    padding-top: 50px;
    border: 5px solid #0d0d71;
    border-radius:16px;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 5px;  
}

